<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - www.Chian.xyz</title>
</head>
<body>
    @RenderBody()    
    <div style="text-align:center;flex-flow: nowrap;">
        <span>&copy; - 2021 <a href="https://beian.miit.gov.cn/">闽ICP备2021003814号</a></span>
    </div>
</body>
</html>